# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Environments
*.env
virtual/

# Logs
logs/
*.log

# Coverage reports
.coverage
.coverage.*

# Editor Files
.vscode/

# Database files
*.sqlite3

# Jupyter checkpoint files
.ipynb_checkpoints/

# Model Folders
models/
