.h-100 {
    min-height: 100vh!important;
}

.h-50 {
    height: 50vh;
}

.pd-screen-full{
    min-height: 100vh;
}

#camera-stream-image {
    object-fit: contain;
    height: auto;
    width: 100%;

    border-radius: 0.25rem;
}